body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.2px;
  background-color: #ffffff;
}
.section {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}
.section-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.text {
  letter-spacing: 0.02em;
}
.team-card {
  background-color: #ffffff;
  text-align: center;
}
.team-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
}
.top-line {
  background-color: #ffffff;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  font-weight: 700;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  letter-spacing: 0.03em;
}
.logo .studio {
  color: #2e2f42;
}
.logo .foot-studio {
  color: #f4f4fd;
}
.nav-page {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2e2f42;
}
.nav-page .link {
  text-decoration: none;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-page .link:hover,
.nav-page .link:focus {
  color: #404bbf;
}
.nav-page .link:active {
  color: #404bbf;
  text-decoration: underline;
}
.nav-page .link {
  text-decoration: none;
}
.nav-page .link:hover,
.nav-page .link:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.address .contacts {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  color: #434455;
  font-style: normal;
  letter-spacing: 0.02em;
}
.address .contacts:hover,
.address .contacts:focus {
  color: #404bbf;
}
.hero {
  background-color: #2e2f42;
  text-align: center;
}
.hero .hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.hero .button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.hero .button:hover,
.hero .button:focus {
  background-color: #404bbf;
}
.team {
  background-color: #f4f4fd;
}
.footer {
  background-color: #2e2f42;
}
.foot-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
